[user]
        email = info@nischal-dahal.com.np
        name = broisnischal

[alias]
    st = status -sb
    co = checkout
    ci = commit -m
    lg = log --oneline --graph --decorate --all
    ca = commit --amend --no-edit
    df = diff --word-diff
    addall = add -A
    ps = push
    br = branch -vv
    f = fetch
    fp = fetch --prune
    mg = merge
    mga = merge --abort
    rb = rebase
    rbi = rebase -i
    rbim = rebase -i main
    rh = reset --hard HEAD
    l = log --oneline --decorate --graph --all
    ri = rebase -i
    uncommit = reset HEAD~1 --mixed
    stash-clear = !git stash list | cut -d: -f1 | xargs -n1 git stash drop
    riup = rebase -i @{u}
    cp = cherry-pick
    who = blame
    hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    unstaged = diff --name-only
    staged = diff --cached --name-only
    pr = pull --rebase
    aa = add -A